<header class="site-header">
<div class="brand"><h1 di>آموزش برنامه نویسیpaython </h1><br> <h2>سایت من</h2>

   <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" dir="rtl">
                    <li>
                        <a href="//about.html">درباره من</a>

                    </li>
                    <li>
                        <a href="//index.html">صفحه اصلی</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
			</div>
</header>

